<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render 'shared/errors', resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class='form-control mb-3 shadow p-3 mb-5 bg-white rounded'  style='width: 400px; margin: 10% auto auto;'>
    <div class='mb-3' style='margin: 25px 20px'>

      <h2><%= t('.change_password') %></h2>

      <div class='mb-3'>
        <%= f.label :password, class: 'form-label' %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password",
                             class: "form-control" %>
      </div>

      <div class='mb-3'>
        <%= f.label :password_confirmation, class: 'form-label' %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password",
                             class: "form-control" %>
      </div>

      <div class='d-grid gap-2 my-3'>
        <%= button_tag(type: 'submit', class: 'btn btn-success') do %>
          <i class='fa fa-cat'></i>&nbsp <%= t('.change') %>
        <% end %>
      </div>

      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>
