<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render 'shared/errors', resource: resource %>

  <div class='shadow p-3 bg-white rounded devise-form'>
    <div class='m-2'>

      <h2><%= t('.forgot_password') %></h2>

      <div class="my-3">
        <%= f.label :email, class: 'form-label' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class='d-grid gap-2 my-3'>
        <%= button_tag(type: 'submit', class: 'btn btn-success') do %>
          <i class='fa fa-cat'></i>&nbsp <%= t('.send') %>
        <% end %>
      </div>

      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>
