<nav class="navbar navbar-expand-md sticky-top navbar-light bg-light ">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to t('.name'), root_path %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to t('.profile'), current_user, class: "ps-3 nav-link #{'active fw-bold' if current_page?(current_user)}" %></li>
          <li class="nav-item"><%= link_to t('.log_out'), destroy_user_session_path, class: 'ps-3 nav-link', :method => :delete %></li>
        <% else %>
          <li class="nav-item"><%= link_to t('.log_in'), new_user_session_path, class: "ps-3 nav-link #{'active fw-bold' if current_page?(new_user_session_path)}" %></li>
          <li class="nav-item"><%= link_to t('.signed_up'), new_user_registration_path, class: "ps-3 nav-link #{'active fw-bold' if current_page?(new_user_registration_path)}" %></li>
        <% end %>
        <%= link_to t('.events'), events_path, class: "ps-3 nav-link #{'active fw-bold' if current_page?(events_path)}" %>
      </ul>
    </div>
  </div>
</nav>
