<%= form_for [@event, subscription] do |f| %>
  <%= render 'shared/errors', resource:subscription %>

  <% unless user_signed_in? %>
    <div class="mb-3">
      <%= f.label :user_name, class: 'form-label' %>
      <%= f.text_field :user_name, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= f.label :user_email, class: 'form-label' %>
      <%= f.text_field :user_email, class: 'form-control' %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
